terraform/.terraform/
cleaner.log
master.log
terraform/terraform.tfstate.backup 
terraform/.terraform.lock.hcl  
terraform/.terraform.tfstate.lock.info 
terraform/terraform.tfstate  
terraform/.main.tf.swo
.master.sh.swp
jenkins-slave-id_rsa.pub
jenkins-slave-id_rsa

